/* p {
  color: green;
  background-color: yellow;
} */

/* id selector */
/* #country {
  color: red;
  background: orange;
} */

/* class selector */
/* .intro {
  color: blue;
  background-color: cyan;
} */

/* 
  element selector
  here we are selecting all the paragraph elements

*/
/* p {
  color: red;
  background-color: yellow;
} */

/* 
  Selecting the span element
*/
/* span {
  color: red;
  background-color: yellow;
} */

/* p {
  border: 10px solid transparent;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  color: darkviolet;
} */

/* #border {
  border-image: url("border.png") 100 / 20px / 10px round;
} */

.country {
  /* box-sizing: border-box; */
  /* border: red 2px solid;
  padding: 10px;
  margin: 10px;
  width: 100px;
  outline: solid 4px black; */
  /* padding-left: 20px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 40px; */
  /* border-left: solid 2px red;
  border-top: solid 2px green;
  border-right: solid 2px black;
  border-bottom: solid 2px rgb(208, 218, 20); */
}
/* 
.country1 {
  border: rgb(194, 66, 66) 2px solid;
  padding: 10px 20px 30px 40px;
  margin: 60px;
} */

.country1 {
  /* text-align: left; */
  color: blue;
  border: solid 2px red;
  display: inline;
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-top: 200px;
  /* margin-bottom: 100px;
  padding-bottom: 100px; */
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
}

/* make a content as block */
/* .make-block {
  display: block;
  margin-top: 100px;
  border: solid 2px red;
} */

/* img {
  border: solid 4px rgb(40, 35, 35);
} */

/* p {
  color: red;
  border: solid 2px red;
  margin-top: 30px;
} */

/* inline */
/* .make-inline {
  display: inline;
} */

/* inline block */
/* .make-inline-block {
  display: inline-block;
  margin-top: 100px;
  border: solid 2px red;
  border-radius: 10px;
  padding: 6px;
} */

/* 
Universal Selector: To select every element
 */
/* * {
  color: red;
} */
/* 
section {
  width: 750px;
  margin: 0 auto;
  box-shadow: 10px 4px 10px 4px lightgray;
  padding: 10px;
}

h2 {
  text-shadow: 4px 4px 4px blue;
  opacity: 0.1;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  float: right;
}

figure {
  padding: 0;
  margin: 0;
} */

/* 
position:- 
relative, absolute, sticky, fixed, static
 */

/* img {
  position: relative;
  bottom: 100px;
  right: 100px;
} */

/* section {
  position: relative;
} */
section {
  /* border: solid 2px black; */
  /* position: relative; */
}
/* 
p {
  border: solid 1px red;
}

img {
  position: absolute;
  top: 0px;
}

body {
  padding: 0;
  margin: 0;
} */

/* h1 {
  position: fixed;
} */

/* h1 {
  position: sticky;
  top: 100px;
} */
