<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <img src="../../assets/garment.jpg" alt="" />
    </div>
    <div class="col-md-6 style-me">
      Welcome to Zingo, where fashion meets comfort, and style intertwines with
      affordability. Founded with a passion for providing top-notch garments to
      individuals who appreciate quality and elegance, we have established
      ourselves as a leading player in the ever-evolving world of fashion. Our
      journey began with a simple vision – to redefine the way people perceive
      and experience clothing. At Zingo, we believe that clothing is not just a
      necessity; it's a form of expression, a reflection of one's personality.
      With this philosophy in mind, we curate a diverse collection of garments
      that cater to a wide range of tastes, preferences, and lifestyles. From
      casual wear that exudes laid-back sophistication to formal attire that
      makes a statement, our extensive range ensures that there is something for
      everyone. What sets us apart is our unwavering commitment to quality. Each
      garment in our collection undergoes rigorous testing and quality checks to
      ensure durability, comfort, and a perfect fit. We collaborate with skilled
      artisans and reputable manufacturers who share our dedication to
      craftsmanship. This commitment to excellence is evident in every stitch,
      fabric choice, and design detail of our products. At the heart of Zingo is
      a team of passionate individuals who live and breathe fashion. Our
      designers stay ahead of the curve, continuously exploring the latest
      trends and styles to bring you cutting-edge fashion that stands out. We
      pride ourselves on staying innovative and responsive to the ever-changing
      fashion landscape, ensuring that our customers are always at the forefront
      of style. Customer satisfaction is paramount to us. We understand that
      each individual is unique, and our customer service reflects this
      understanding.
    </div>
  </div>
</div>
