<app-header></app-header>

<!-- <app-about-us></app-about-us> -->
<router-outlet></router-outlet>
<!-- <app-products></app-products> -->
<!-- {{ priceOfBook | currency }} -->

<!-- <span highlighter>
  {{ priceOfBook | discount : 10 | currency : "INR" }}
</span> -->

<!-- {{ priceOfBook | discount : 20 | currency }} -->
<!-- <div *ngFor="let item of arr">
  <app-card
    (myEvent)="customEventListener($event)"
    [cardData]="item"
  ></app-card>
</div> -->
<!-- <app-card [cardData]="item" [myDemo]="item.header"></app-card> -->
